
@media screen and (max-width: 700px){ /*this is the styling that i want to apply on screens smaller than 700 px */
    body .header-container{
        width: 20vw;
    }
    body #quinn{
        transform: scale(.7) ;
        grid-area: 1 / 1 / 12 / 4 ;
    }
    
    .grid-container img{
        transform: scale(1.5);
    }  
    
    .grid-container{
        row-gap: 35px;
    }

    body #link-grid{
        grid-area: 23/ 1 / 24 / 3  ;
        margin: 5px 0px 0px -28px;
        padding: 0;
        transform: scale(.8);
    }
   

}



body{
    height: 100%;
    width: 100%;
    background-image: url("assets/hammerhead.jpg");
    background-size: 10%;
    margin: 0px;
    padding: 0px;
}




/* SIDE BANNER  */
.header-container{
    background-image: url("assets/back009.png");

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(35, 5vw); 

    height: 100%;
    width: 14vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ABADB0;
    overflow-x: hidden;
    font-family:  "Antar", "Favorit", cursive;
}

.header-container div{
    /* border: 1px solid white;  */
    padding: 0px;
    margin: 0px; 
    object-fit: contain;

    position: relative;
}

 
#quinn{
    grid-area: 1 / 2 / 9 / 4;
    padding-top: 1vw;
    padding-left: 15px;
    transform: scale(.90);
} 




#link-grid{
    /* border: 1px solid white; */
    display: grid;
    margin-left:  12px;
    padding-top: 15vh;
    

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 3vw);
    grid-area: 8 / 1 / 12 / 5; 
}

/* dont think i need this section, i can't tell what its doing  */
 #link-grid div{
    /* border: 1px solid white; */
    object-fit: contain;
}

#link-grid img:hover{
    transform: scale(.67);
}


 #spotify{
     padding-left: 48px;
     padding-top: 14px;
     grid-area: 1 / 2 / 5 / 3;
 } 

 #spotify img{
    transform: scale(.6);
 }


 #soundcloud{
     padding-right: 55px;
     grid-area: 1 / 4 / 5 / 5;
 }
 #soundcloud img{
    transform: scale(.6);
 }


 #applem{
     grid-area: 1 / 3 / 5 / 4;
     padding-left: -2px;
 }
 #applem img{
     transform: scale(.6);
 }

/* SIDE BANNER END  */




/* MAIN  */
.grid-container {
    display: grid; 
    /* border: 1px solid black; */
    margin: 0px;
    padding: 0px; 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 30vw); 
}

.grid-container > figure { /*make the albums visible and  centered */
    /* border: 1px solid blue; */
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.grid-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

